<div class="row padding-20">
  <div class="col-lg-3">
      <div class="search-bar">
        <label class="mt-20 bold f-14">Search for keyword</label>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text no-border bg-none border-bottom"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" [(ngModel)]="filterKeyword" (keyup)="filterByKeyword(filterKeyword)" class="no-border border-bottom bg-none" placeholder="Filter courses" >
        </div>
        <div class="spacer-30"></div>
        <label class="f-12 bold">Category</label>
        <div class="cat-wrapper">
          <div class="custom-control custom-radio link m-b-10">
            <input type="radio" class="custom-control-input" id="allCat" name="cat" checked>
            <label class="custom-control-label" for="allCat" (click)="filterByCategory('All')">All</label>
          </div>
          <div class="custom-control custom-radio link m-b-10" *ngFor="let cats of  catList.payload">
            <input type="radio" class="custom-control-input" id="{{cats}}Cat" name="cat">
            <label class="custom-control-label" for="{{cats}}Cat" (click)="filterByCategory(cats)">{{cats}}</label>
          </div>
        </div>
        
      </div>
  </div>
  <div class="col-lg-9">
    <label class="mt-20 f-18 clr-light-gray">{{registrationCount}} Courses open for registration</label>
    <div class="course-wrapper">
      <div class="row">
        <div class="col-lg-4" *ngFor="let course of filteredCourses">
          <div class="card link">
            <div class="card-header d-flex flex-row bg-none no-bottom-border">
                <span class="list-img" href="javascript:void(0);"></span>
                <div class="info-bar">
                    <label class="f-16">{{course.title}}</label>
                    <p class="f-14 bold m-t-10">{{course.instructor_name}}</p>
                </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-2">
                  <span class="fa fa-info-circle f-20"></span>
                </div>
                <div class="col-lg-10">
                  <p class="f-14">{{course.description}}</p>
                </div>
              </div>
              <div class="spacer-30"></div>
              <div class="row">
                <div class="col-lg-2">
                  <span class="fa fa-calendar f-20"></span>
                </div>
                <div class="col-lg-10">
                  <p class="f-12 m-b-2">{{course.registration_status}}</p>
                  <p class="f-12 m-b-2">{{course.start_date | date : 'MMMM dd'}} - {{course.end_date | date : 'MMMM dd'}}</p>
                  <p class="f-12 clr-light-gray m-b-2">{{course.estimated_workload}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>

</div>